
      <aside class="sidebar">
        <div class="sidebar__top">
          <img class="logo" src="/image/logo_green.png" alt="" />
        </div>
        <div class="sidebar__items">
          <a href="/admin" class="btnNavBar">
            <span class="material-icons"> leaderboard </span>
            <h3>Dashboard</h3>
          </a>
          <a href="/admin/user" id="user" class="btnNavBar">
            <span class="material-icons"> person_outline </span>
            <h3>User</h3>
          </a>
          <a href="https://greenbigfive.netlify.app/" id="question" class="btnNavBar">
            <span class="material-icons"> auto_stories </span>
            <h3>Question</h3>
          </a>
          <a href="/admin/logout" class="">
            <span class="material-icons"> logout </span>
            <h3 id="logout__button">Logout</h3>
          </a>
        </div>
      </aside>
